
<div class="about">

	<div>Hi there, looking to join a social sport in your local community?</div>
	<br>

	<div>Meet Pep.</div>
	<br>

	<img src="/images/goatee_pep.png" alt="">

	<br>

	<br>
	<div>Join the community! </div>
	<br>
	<a class="btn btn-primary" href="/login">Get Connected</a>

</div>

