
<div class="about">

	<div>Hi there, looking to join a social sport in your local community?</div>
	<br>

	<div>Meet Pep.</div>
	<br>

	<img src="/images/goatee_pep.png" alt="">


	<br>
	<p>Pep is the local community know-it-all aware of all the social sports happening around your neighbourhood. 
	Whether you are looking for a recreational game of football, touch rugby, ultimate frisbee, or simply interested in meeting new sporty peeps, Pep is here to provide that connection.
	</p>

	<br>
	<div>Join the community! </div>
	<a class="btn btn-primary" href="/login">Get Connected</a>

</div>

