
<div class="about">

	<div>Looking to join a social sport in your local community?</div>
	<br>

	<h1>Meet Pep.</h1>
	<br>
	
	<div>...knows about (almost) all the social sport events happening around you</div> 
	<div>...connects you to other sporty people in your community</div>
	<div>...remembers all your game statistics</div> 


	
	<br>	

	<img src="/images/goatee_pep.png" alt="">
	
	<div><br></div>

	<a class="btn btn-primary" href="/login">Get Connected</a>

</div>

