<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meet Pep</title>
  <link rel="icon" type="image/x-icon" href="images/goatee_pep.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

	<nav class="navbar navbar-expand-lg sticky-top" style="background-color: white;">

		<!-- navbar image -->
	  <a class="navbar-brand" href="/about">
	    <img src="images/goatee_pep.png" width="30" height="30" alt="">
	  </a>

		<a class="nav-item nav-link btn btn-light" href="/">Home</a>

		<%if !logged_in? %>
			<a class="nav-item nav-link btn btn-light" href="/login">Login</a>
		<%end%>
		<%if logged_in? %>
			<a class="nav-item nav-link btn btn-light" href="/create">Create Event</a>
			<a class="nav-item nav-link btn btn-light" href="/my_games">My Upcoming Events</a>
			<div class="btn btn-light disabled"><%= current_user.username %></div> 
			<form class="nav-item nav-link" action="/session" method="post">
				<input type="hidden" name="_method" value="delete">
				<button class="btn btn-light">Logout</button>
			</form>
		<%end%>
		
		<!-- hiding stats until feature is ready to be deployed -->
		<!-- <a class="nav-item nav-link" href="/stats_home"> Stats (Beta) </a> -->

	</nav>

  <%= yield %>

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  	$(function(){
      // Find any date inputs and override their functionality – so datepicker works in firefox
      $('input[type="date"]').datepicker();
     });
  </script>
	
</body>
</html>	