
<div class="league-create-wrapper">

	<div class="box a">
		<h1>Pep will create a league for you...</h1>
		<br>
		<form action="/league_view" method="post">

			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label">Title:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="title" placeholder="...the name of the league?">
				</div>

				<label class="col-sm-2 col-form-label"> Number of Players:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="num_players" placeholder="...number of players to track? (don't worry you can add more later)">
				</div>			

			</div>
		
			<button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
		</form>
		
		<br>

		<a class="btn btn-outline-primary btn-lg btn-block" href="/stats_home">Return</a>

	</div>

</div>

