
<div class="stats-create-wrapper">

	<div class="box a">
		<h1>Tell Pep...</h1>

		<form action="/stats_all_list_view" method="post">

			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label">Title:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="title" placeholder="...the name of the stat table?">
				</div>

<!-- 				<label for="venue" class="col-sm-2 col-form-label">Player Username:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="user_username" placeholder="...the username of the player?">
				</div> -->

				<label class="col-sm-2 col-form-label"> Number of Players:</label>	
				<div class="col-sm-10">
					<input class="form-control" type="text" name="num_players" placeholder="...number of players to track? (don't worry you can add more later)">
				</div>			

			</div>

			<br>
		
			<button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
		</form>
		
		<br>

		<form action="/stats_home" method="get">
			<button class="btn btn-outline-primary btn-lg btn-block" type="submit">Return</button>
		</form>

	</div>

</div>

