



<h1>Stats Tables</h1>

<% @stats.each do |stat| %>
		<div> 
			<a class="" href="/stat/<%= stat.id %>/table_view"> <%= stat.title %> </a>
		</div>

		<form action="/stat/<%= stat.id %>/delete" method="post">
			<input type="hidden" name="_method" value="delete">
			<button type="submit">Delete</button>
		</form>

		<hr>
<%end%>